.button {
display: block;
width: 115px;
height: 25px;
background: #d3d3d3;
padding: 3px;
text-align: center;
border-radius: 5px;
color: black;
font-weight: bold;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

hr {
    color: #000;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

body{
    margin-right: 10px;
    margin-left: 10px;
}


path.link {
  fill: #000;
  stroke:#000;
  stroke-width: 5px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}
circle.node {
  stroke-width: 1px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 1px;
}


text {
  font: 12px sans-serif;
  font-weight: bold;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}